<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MoneyMapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>460FE75F1D00C27D0038EEB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>460FE7761D00C27D0038EEB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>460FE7811D00C27E0038EEB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
